<!-- scroll top button -->
<a class="up" href="#home"><i class="fas fa-arrow-up"></i></a>
<a class="wa" href="https://wa.me/085784777797"><i class="fas fa-phone"></i></a>
<!-- akhir scroll top -->

<footer>
    <div class="container-fluid foot pt-5 pb-5">
        <div class="container pt-3">
            <div class="row">
                <div class="col-md-3">
                    <h4>PP AL - MANNAN<br></h4>
                    <p class="mt-4">Jl. DI Panjaitan No.128, Karangreja, Purwokerto Kulon, Kec. Purwokerto Sel., Kabupaten Banyumas, Jawa Tengah 53141</p>
                    <p class="small">(0281) 632138</p>
                    <p class="small">office@smktelkom-pwt.sch.id</p>
                    <p class="small">Senin - Jumat: 7:00 - 16:00</p>
                    <p class="small">Sabtu: 8:00 - 12:00</p>
                </div>
                <div class="col-md-3">
                    <h4>POS - POS TERBARU<br></h4>
                    <p class="mt-4"><a href="https://smktelkom-pwt.sch.id/berita/lowongan-kerja-guru-kejuruan/">Lowongan Kerja Guru Kejuruan</a></p>
                    <p class="small">18/02/2021</p>
                    <p class="small"><a href="https://smktelkom-pwt.sch.id/berita/living-and-playing-akabara-28/">Living And Playing Akabara 2018</a></p>
                    <p class="small">01/02/2021</p>
                    <p class="small"><a href="https://smktelkom-pwt.sch.id/berita/living-and-playing-akabara-28/">Lepas Sambut Kepala PP AL - MANNAN</a></p>
                    <p class="small">01/02/2021</p>
                </div>
                <div class="col-md-2">
                    <h4>PETA SITUS<br></h4>
                    <p class="mt-4">Beranda</p>
                    <p class="small">Tentang Kami</p>
                    <p class="small">Berita</p>
                    <p class="small">Alumni</p>
                    <p class="small">Helpdesk</p>
                    <p class="small">PPDB</p>
                </div>
                <div class="col-md-4">
                    <h4>ALAMAT<br></h4>
                    <iframe class="mt-4" style="border-radius: 2%;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7912.585450118895!2d109.24357391352635!3d-7.432824793223536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e655e9d1768e4d1%3A0x959269c10818fa0c!2sSMK%20Telkom%20Purwokerto!5e0!3m2!1sid!2sid!4v1614132098738!5m2!1sid!2sid" width="100%" height="80%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div style="background-color: rgb(27, 24, 41);" class="container-fluid">
        <div style="background-color: rgb(27, 24, 41);  height: 40px; font-size: 13px;" class="footer pt-2">
            <div class="row">
                <div class="col-sm-8 text-center">
                    <p style="color: rgb(241,241,241);">Copyright &copy; 2021 - PP AL - MANNAN </p>
                </div>
                <div class="col-sm-4 justify-content-end">
                    <a style="color: #F8F9FA;" href=""><i class="fab fa-instagram justify-content-end"></i></a>
                    <a style="color: #F8F9FA;" href=""><i class="fab fa-facebook ml-30 justify-content-end"></i></a>
                    <a style="color: #F8F9FA;" href=""><i class="fab fa-youtube ml-30 justify-content-end"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>