{% extends "base.html" %}
{% load static %}
{% block title %}PP AL - MANNAN{% endblock %}
{% block content %}

  <section>
    <img style="width: 100%; margin-top: 60px;" src="{% static 'assets/img/header/help.png' %}" alt="">
  </section>

  <div class="container-fluid pb-5 pt-5">
    <div style="width: 80%; background: white; padding: 1%; border-radius: 2%; box-shadow: 15px 15px 15px rgba(0,0,0,0.06), -15px -15px 15px rgba(0,0,0,0.06);" class="container help1 mt-5 mb-5">
      <div class="row">
        <div class="col-lg-6">
          <img style="width: 90%;" src="{% static 'assets/img/contact/Frame 2.png' %}" alt="">
        </div>
        <div class="col-lg-6 text-center">
          <h3 class="text-center mt-5">Visit Our Social Media</h3>
            <a href="https://www.instagram.com/stematelpwt/"><i class="fab fa-instagram ikon fa-3x pt-5"></i></a><br>
            <a href="https://www.youtube.com/channel/UChH86vsWfXgo5WKAnui0WKw"><i class="fab fa-youtube ikon fa-3x pt-4"></i></a><br>
            <a href="https://twitter.com/stematelpwt"><i class="fab fa-twitter ikon fa-3x pt-4"></i></a><br>
            <a href="https://www.facebook.com/stematelpwt"><i class="fab fa-facebook-square ikon fa-3x pt-4"></i></a>
        </div>
      </div>
    </div>
  </div>

  <iframe style="margin-bottom: -10px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d18819.293749215438!2d109.2517660842525!3d-7.435439948469956!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x959269c10818fa0c!2sSMK%20Telkom%20Purwokerto!5e0!3m2!1sid!2sid!4v1614652866673!5m2!1sid!2sid" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

{% endblock %}