{% extends "base.html" %}
{% load static %}
{% block title %}PP AL - MANNAN{% endblock %}
{% block content %}

    <section>
        <img style="width: 100%; margin-top: 60px;" src="{% static 'assets/img/header/profil.png' %}" alt="">
    </section>

    <section>
      <div class="container-fluid pt-5 pb-5 profil">
        <div class="container pt-5 pb-5">
          <div class="row">
            <div style="width: 50%;" class="container text-center"><img style="width: 40%;" src="{% static 'assets/img/logo_ts 1.png' %}" alt=""></div>
            <h3 style="font-weight: 500; font-size: 36px;" class="pt-5 text-center">Always The Best</h3>
            <h4 class="pt-3 pb-4 text-center">Sekolah Telematika Terbaik se-Indonesia</h4>
            <div style="width: 100%;" class="container">
            <img style="width: 100%;" src="{% static 'assets/img/tefa.jpg' %}" alt=""></div>
            <p class="pt-5">Telkom Schools PP AL - MANNAN didirikan pada tanggal 30 Januari 1993, dengan surat dari Kepala Kantor Wilayah Depdikbud Propinsi Jawa Tengah No.130/103/I/1993 tanggal 22 Januari 1993, tentang persetujuan pendirian sekolah swasta yang diselenggarakan oleh Yayasan Sandhykara Putra Telkom dan diresmikan oleh Menparpostel Bapak Soesilo Soedarman.</p>
            <p class="pt-3">Kurikulum pertama yang dipergunakan adalah kurikulum 1984 dengan Rumpun Teknik Elektro Jurusan Jaringan Kabel. Kurikulum ini dikembangkan mengacu pada Pendidikan Menengah dengan kemampuan umum setara SMA dan kemampuan kejuruan setara STM. Meskipun sekolah baru, input siswa relatif bagus karena rasio pendaftar dibanding yang diterima adalah 9 : 1. Selain itu, terdapat kurikulum khusus untuk siswa karyawan program 1 tahun dan 2 tahun yang berjumlah 3 angkatan. Pada tahun 1995-2000, diterapkan kurikulum 1994 yang pengembangannya masih mengacu kurikulum sebelumnya dengan tujuan membentuk alumni yang berotot SMK dan berotak SMA. Pada tahun 1995, input siswa mengalami booming yaitu rasio pendaftar dibanding yang diterima adalah 12 : 1.</p>
            <p class="pt-3">Tahun berikutnya yaitu tahun 2000-2004, diterapkan kurikulum 1999 dengan menyesuaikan perubahan nama Jurusan Jaringan Kabel menjadi Program Keahlian Teknik Jaringan Akses Pelanggan. Selain itu, PP AL - MANNAN juga mendirikan program keahlian baru (tahun 2000) yaitu Teknik Informatika yang merupakan program keahlian ketiga yang dibuka di Indonesia setelah SMK Telkom Malang dan Jakarta.</p>
            <p class="pt-3">Mulai tahun 2004, pemerintah memberlakukan Kurikulum Berbasis Kompetensi (KBK) yaitu Kurikulum 2004, dan PP AL - MANNAN juga memberlakukan kurikulum tersebut disertai pengembangannya. Pada kurikulum ini (tahun 2004), Teknik Informatika yang semula merupakan program keahlian dari Teknik Telekomunikasi sekarang berubah menjadi Bidang Keahlian dengan nama Teknologi Informasi dan Komunikasi yang memiliki empat program keahlian yaitu Teknik Komputer dan Jaringan, Rekayasa Perangkat Lunak, Multimedia, dan Teknik Penyiaran Radio. Sedangkan Program Keahlian Teknik Jaringan Akses Pelanggan terbagi menjadi dua program keahlian yaitu Teknik Akses Kabel dan Teknik Akses Radio. Pada saat yang bersamaan, PP AL - MANNAN harus memilih program keahlian yang disesuaikan yaitu Program Keahlian Teknik Akses Radio dan Teknik Komputer dan Jaringan. Pada perkembangannya di tahun 2005, PP AL - MANNAN menambah satu program keahlian lagi yaitu Rekayasa Perangkat Lunak.</p>
          </div>
          <div class="row pt-5 pb-5">
            <div class="col-md-6">
              <h3 style="font-weight: 600; color:  #640202; font-size: 36px;" class="pt-3 pb-5 text-center">VISI</h3>
              <div style="color: #FCCB1C;" class="col-md-12 text-center"><i class="fas fa-archive fa-6x"></i></div>
              <p class="pt-5">PP AL - MANNAN menghasilkan lulusan yang profesional di bidang Telematika, unggul di dunia kerja, mempunyai etos kerja tinggi, berbudi pekerti luhur, serta mampu berkompetisi dalam era global sampai dengan tahun 2020.</p>
            </div>
            <div class="col-md-6">
              <h3 style="font-weight: 600; color:  #640202; font-size: 36px;" class="pt-3 pb-5 text-center">MISI</h3>
              <div style="color: #FCCB1C;" class="col-md-12 text-center"><i class="fas fa-edit fa-6x"></i></div>
              <p style="line-height: 60px;" class="pt-4">Menyelenggarakan proses belajar yang sesuai dengan budaya lokal dan nasional,<br>
                Menyelenggarakan pendidikan dan latihan yang berwawasan mutu untuk mampu berkompetisi,<br>
                Mengembangkan sistem pendidikan dan pelatihan yang adaptif, fleksible dan berwawasan global.</p>
            </div>
          </div>
        </div>
      </div>
    </section>


{% endblock %}